.page {
    /* background-color:rgb(255, 255, 255); */
    padding: 30px;
    flex: auto;
}

.survey-component {
    max-width: 700px;
    min-width: 600px;
    width: 100%;
    min-height: 800px;
    padding: 10px 20px;
}

.qusetion-component {
    width: 100%;
}

.button {
    /* width: 100px; */
    /* margin-top: 10px; */
}