.survey-component {
    max-width: 700px;
    min-width: 350px;
    width: 100%;
}

.login-component {
    max-width: 300px;
    min-width: 150px;
    width: 100%;
}

.form-component {
    height: 100vh;
    /* background: radial-gradient(circle, #C9A9E9, #99C7FB); */
    /* background-color: #B3B1A0; */
}